{#
 # About template
 # -------------------
 #
 #}

{% extends "_layouts/site" %}

{% block main %}

<!--=============== wrapper ===============-->	
<div id="wrapper">
    <!--=============== Content holder  ===============-->
    <div class="content-holder elem scale-bg2 transition3" >
        <!--=============== Content   ===============-->
        <div class="content full-height">
            <div class="fixed-title"><span>About</span></div>
            

    {% for entry in craft.entries.section('about') %}
       
                                
                <!-- About   -->
            <section class="section-columns">
                <div class="section-columns-img">
                {% for image in entry.aboutPageImage %}
                    <div class="bg" style="background-image:url('{{ image.getUrl() }}')"></div>
                {% endfor %}
                </div>
                <div class="section-columns-text">
                    <div class="custom-inner">
                        <div class="container">
                            <h2>{{ entry.aboutPageTitle }}</h2>
                            <div class="separator"></div>
                            <div class="clearfix"></div>
                            <h3 class="subtitle">{{ entry.aboutPageSubtitle }}</h3>
                            <p>{{ entry.aboutPageDescription }}</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About end  -->   

          
    {% endfor %}


        </div>
        <!-- Content end  -->  
        <!-- Share container  -->    
        <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
    </div>
    <!-- content holder end -->
</div>
<!-- wrapper end -->
<div class="left-decor"></div>
<div class="right-decor"></div>
{%endblock%}

