{#
 # Collections Child entry template
 # -------------------
 #
 #}


{% block main %}

<!--=============== wrapper ===============-->
    <div id="wrapper">
        <!--=============== content-holder ===============-->
        <div class="content-holder elem scale-bg2 transition3">
            <!--page title -->
            <div class="fixed-title"><span>{{ entry.title }}</span></div>
             <!--page title end -->
              <!--=============== content ===============-->
            <div class="content full-height">
                
            {% if entry.descriptionToggle %}
                <div class="show-hid-content ishid">About Collection <i class="fa fa-long-arrow-down"></i></div>
            {% else %}
                
            {% endif %}

                 <!--=============== description column  ===============-->
                <div class="fixed-info-container hidden-column">
                    <h3>{{ entry.title }}</h3>
                    <div class="separator"></div>
                    <div class="clearfix"></div>
                    <p>{{ entry.aboutCollection }}</p>

                </div>
                <!--description column end -->
               
         

                <!-- portfolio  Images  -->
                <div class="resize-carousel-holder anim-holder">
                    <div id="gallery_horizontal" class="gallery_horizontal">

                    {% set entries = craft.entries.section('collections').level(2).first() %}
                    
                        {% for block in entry.collectionGalleryRepeater.type('galleryImagesBlock') %}                                           
                              {% for image in block.gallerySlides %}    
                                       

                        <div class="horizontal_item">
                            <div class="zoomimage"><img src="{{ image.getUrl() }}" class="intense" alt=""><i class="fa fa-expand"></i></div>
                            <img src="{{ image.getUrl() }}" alt="">
                            

                            {% if image.tooltipInfoToggle %}
                                <div class="show-info">
                                <span>Info</span> 
                                    <div class="tooltip-info">
                                      
                                        <h5>{{ image.pieceTitle }}</h5>
                                        <p>{{ image.pieceDescription }}</p>

                                    </div>
                                </div>
                            {% else %}
                                
                            {% endif %}
                            
                        
                        </div>
                         
                        {% endfor %}
                    {% endfor %}
                        
                    </div>
                    <!--  navigation -->
                    <div class="customNavigation">
                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                    </div>
                    <!--  navigation end-->
                </div>
                <!-- portfolio  Images  end-->
            </div>
            <!-- Content end  -->  
            <!-- Share container  -->    
            <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
        </div>
        <!-- content holder end -->
    </div>
    <!-- wrapper end -->
    <div class="left-decor"></div>
    <div class="right-decor"></div>

{% endblock %}
