{#
 # Collections Parent entry template
 # -------------------
 #
 #}


{% block main %}

<!--=============== wrapper ===============-->
    <div id="wrapper">
        <!--=============== Conten holder  ===============-->
        <div class="content-holder elem scale-bg2 transition3" >
            <!--=============== Content  ===============-->
            <div class="content full-height">
                <div class="fixed-title"><span>All Collections</span></div>
                <!-- Portfolio counter  -->	
                <div class="count-folio">
                    <div class="num-album"></div>
                    <div class="all-album"></div>
                </div>
                <!-- Portfolio counter end -->	
                <div class="filter-holder column-filter">
                   
                   	<div class="filter-button">Filter <i class="fa fa-long-arrow-down"></i></div>
					{% set entries = craft.entries.section('collections').level(2) %}
					<div class="gallery-filters hid-filter">
					   
						<a href="{{ entry.url }}" class="gallery-filter transition2 gallery-filter_active" data-filter="*">All Collections</a>
					    {% nav entry in entries %}

				           <a href="{{ entry.url }}" class="gallery-filter transition2" data-filter=".{{ entry.slug }}">{{ entry.title }}</a>
			        						      
					    {% endnav %}
					
					</div>

                </div>
                <!--=============== portfolio holder ===============-->

                <div class="resize-carousel-holder">
                    <div class="p_horizontal_wrap">
                        <div id="portfolio_horizontal_container">
                                                                 
                           {% for entry in craft.entries.section('collections').level(2) %}
				    		<!-- portfolio item -->
						    <div class="portfolio_item {{ entry.slug }}">

                                {% for image in entry.collectionFeaturedImage %}                   
						    		<img  src="{{ image.getUrl() }}" alt="">
		                        {% endfor %}        

						        <div class="port-desc-holder">
		                            <div class="port-desc">
		                                <div class="overlay"></div>
		                                <div class="grid-item">
		                                    <h3><a href="collections/{{ entry.slug }}">{{ entry.title }}</a></h3>
		                                    <span>Collection</span>
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <div class="port-subtitle-holder">
		                            <div class="port-subtitle">
		                                <h3><a href="collections/{{ entry.slug }}">{{ entry.title }}</a></h3>
		                                
		                                {% for block in entry.mediumTypeRepeater.type('artMediumList') %}                                           
		                                	<span class="subtitle"><em>{{ block.addMediumTitle }}</em></span>
		                                {% endfor %} 	

		                            </div>
		                        </div>
						    </div>
						    <!-- portfolio item end -->
							{% endfor %}                                                                      
                        </div>
                        <!--portfolio_horizontal_container  end-->        
                    </div>
                    <!--p_horizontal_wrap  end-->                    
                </div>
            </div>
            <!-- Content end  -->  
            <!-- Share container  -->    
            <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
        </div>
        <!-- content holder end -->
    </div>
    <!-- wrapper end -->
    <div class="left-decor"></div>
    <div class="right-decor"></div>

{% endblock %}
