{#

 # The site layout template
 # ------------------------
 #
 # This layout template extends the _layouts/base.html layout, and defines the
 # main site layout: the header, footer, and main content area.
 #
 # It’s never accessed directly. Instead it is extended by all of our main site
 # templates.
 #
 # This template defines one block region, `main`, which should be extended by
 # child templates to define the main contents for the page.
-#}

{% extends "_layouts/base" %}



{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}

{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
	{% set title %}{% if title is defined %}{{ title }} - {% endif %}{{ nav[bodyClass].title }}{% endset %}
{% endif %}


{% block body %}
	<!--Loader  -->
    <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
    <!--LOader end  -->
    <!--================= main start ================-->
    <div id="main">
    <!--=============== header ===============-->	

	<header>
	    <!-- Header inner  -->
	    <div class="header-inner">
	        <!-- Logo  -->
	        <div class="logo-holder">
	            <a href="{{ siteUrl }}"><img src="{{ siteUrl }}assets/logos/otter5design-logo-2x.png" width="247" height="21" alt=""></a>
	        </div>
	        <!--Logo end  -->
	        <!--Navigation  -->
	        <div class="nav-button-holder">
	            <div class="nav-button vis-m"><span></span><span></span><span></span></div>
	        </div>
	       
	        <div class="nav-holder">

        

<nav class="hidden-xs hidden-sm">
	<ul class="Navigation">
    {# Get top-level entries in pages structure (exclude home page)  #}
    {% set pages = craft.entries.getAllSections().navigationMenuOrder('> 0').order('navigationMenuOrder') %}
    {# Loop through top-level entries #}	
    {% for page in pages %}
        {# Check if entry has descendants #}
        {% if not page.hasDescendants %}
            {# List navigation item if entry has NO child entries #}
            <li class="navigation-item">
            	{% if craft.request.firstSegment == page.slug %}
                <a href="{{ page.getUrl() }}" class="act-link navigation-link-dropdown">{{ page.title }}</a>
	            {% else %} 
	            <a href="{{ page.getUrl() }}" class="navigation-link-dropdown">{{ page.title }}</a>
	            {% endif %} 
            </li>
        {% else %}
            {# List navigation item if entry does have child entries #}
            <li class="navigation-item-dropdown">
            	{% if craft.request.firstSegment == page.slug %}
                <a href="{{ page.getUrl() }}" class="act-link navigation-link-dropdown">{{ page.title }}</a>
	            {% else %} 
	            <a href="{{ page.getUrl() }}" class="navigation-link-dropdown">{{ page.title }}</a>
	            {% endif %} 
        
                <ul class="navigation-subMenu">
                    {# Get child entries of current iteration's top-level entry #}
                    {% set subPages = page.getChildren() %}
                    {# Loop through those 2nd-level entries #}
                    {% for subPage in subPages %}
                        {# This is the place where you'd nest the next menu hierarchy !! #}
                        {# List sub-menu navigation item #}
                        <li class="navigation-item-subMenu">
                            <a href="{{ subPage.getUrl() }}" class="navigation-link-subMenu">{{ subPage.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}

	</ul>
</nav>

<nav class="visible-xs-block visible-sm-block">
	<ul class="Navigation">
    {# Get top-level entries in pages structure (exclude home page)  #}
    {% set pages = craft.entries.getAllSections().navigationMenuOrder('> 0').order('navigationMenuOrder') %}
    {# Loop through top-level entries #}	
    {% for page in pages %}
        {# Check if entry has descendants #}
        {% if not page.hasDescendants %}
            {# List navigation item if entry has NO child entries #}
            <li class="navigation-item">
	            <a href="{{ page.getUrl() }}" class="navigation-link-dropdown">{{ page.title }}</a>
            </li>
        {% else %}
            {# List navigation item if entry does have child entries #}
            <li class="navigation-item-dropdown">
                <a href="{{ page.getUrl() }}" class="navigation-link-dropdown">{{ page.title }}</a>
            </li>
            
            {% set subPages = page.getChildren() %}
            {# Loop through those 2nd-level entries #}
            {% for subPage in subPages %}

            <li class="mobile-dropdown-items">
                <a href="{{ subPage.getUrl() }}" class="navigation-link-subMenu">{{ subPage.title }}</a>
            </li>
            {% endfor %}
            
        {% endif %}
    {% endfor %}

	</ul>
</nav>

	        </div>
	        <!--navigation end -->
	    </div>
	    <!--Header inner end  -->	
	</header>
	<!--header end -->


		{% block main %}{% endblock %}
	

	<!--=============== Footer ===============-->
    <footer>
        <div class="policy-box">
            <span>&#169; Otter 5 Design 2017 . All rights reserved. </span> 
            <ul>
                <li><a href="#">{{ footer.footerEmailAddress }}</a></li>
                <li><a href="#">{{ footer.footerPhoneNumber }}</a></li>
            </ul>
        </div>
        <!-- footer social -->
        <div class="footer-social">
            <ul>

    {% for entry in footer.footerIconRepeater.type('footerSocialLink') %}                                           
        {% set icon = entry.socialIcon %}
                <li><a href="{{ entry.socialLink }}" target="_blank" ><i class="fa {{ icon.class }}"></i></a></li>
        
    {% endfor %}

            </ul>
        </div>
        <!-- footer social end -->
        <div class="to-top"><i class="fa fa-angle-up"></i></div>
    </footer>
    <!-- footer end -->
  </div>
  <!-- Main end -->
  <!--=============== scripts  ===============-->
    <script type="text/javascript" src="{{ siteUrl }}assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ siteUrl }}assets/js/plugins.js"></script>
    <script type="text/javascript" src="{{ siteUrl }}assets/js/scripts.js"></script>
{% endblock %}
