{#
 # Contact template
 # -------------------
 #
 #}

{% extends "_layouts/site" %}

{% block main %}

<!--=============== wrapper ===============-->	
<div id="wrapper">
    <!--=============== Content holder  ===============-->
    <div class="content-holder elem scale-bg2 transition3" >
        <!--=============== Content   ===============-->
        <div class="content full-height">
            <div class="fixed-title"><span>About</span></div>
            <!--  Section contact form  -->
            <section class="flat-form" id="sec3">
                <div class="container">
                    <h2>Get in Touch!</h2>
                    <div class="separator-image"><img src="{{ craft.config.environmentVariables.baseAssetUrl }}/images/separator2.png" alt=""></div>
                    <div id="contact-form">
                        <div id="message"></div>


                    {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}


                    {% from _self import errorList %}

                        <form method="post" action="" accept-charset="UTF-8">
                            {{ getCsrfInput() }}
                            <input type="hidden" name="action" value="contactForm/sendMessage">
                            <input type="hidden" name="redirect" value="contact/thanks?from={fromName}">
                                    

                            <h3 class="formlabel"><label for="fromName">Your Name</label></h3>
                            <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}" onClick="this.select()">
                            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                            
                            <h3 class="formlabel"><label for="fromEmail">Your Email</label></h3>
                            <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" onClick="this.select()">
                            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                            
                            <h3 class="formlabel"><label for="subject">Subject</label></h3>
                            <input id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}" onClick="this.select()">
                            {{ message is defined and message ? errorList(message.getErrors('subject')) }}

                            <h3 class="formlabel"><label for="message">Your Message</label></h3>
                            <textarea rows="10" cols="40" id="message" name="message" onClick="this.select()">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                            {{ message is defined and message ? errorList(message.getErrors('message')) }}

                            <input type="submit" class="send_message transition" id="submit" value="Send Message">
                        </form>

                    </div>
                </div>
            </section>
        <!--  Section contact form end  -->    
        </div>
        <!-- Content end  -->  
        <!-- Share container  -->    
        <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
    </div>
    <!-- content holder end -->
</div>
<!-- wrapper end -->
<div class="left-decor"></div>
<div class="right-decor"></div>
{%endblock%}

