{#
 # Contact Thank You Template
 # -------------------
 #
 #}

{% extends "_layouts/site" %}

{% block main %}

<!--=============== wrapper ===============-->  
<div id="wrapper">
    <!--=============== Content holder  ===============-->
    <div class="content-holder elem scale-bg2 transition3" >
        <!--=============== Content   ===============-->
        <div class="content full-height">
            <div class="fixed-title"><span>About</span></div>
            <!--  Section contact form  -->
            <section class="flat-form contact-thankyou" id="sec3">
                <div class="container">
                    <h2>Thanks for Reaching out!</h2> 
                    <div class="separator-image"><img src="{{ craft.config.environmentVariables.baseAssetUrl }}/images/separator2.png" alt=""></div>
                    <h3>Thanks for sending that in, {{ craft.request.getQuery('from') }}. We'll be in touch shortly!</h3>

                    <a href="/collections" class=" btn anim-button trans-btn transition"><span>Back to Collections</span><i class="fa fa-eye"></i></a>
    
                </div>
            </section>
        <!--  Section contact form end  -->    
        </div>
        <!-- Content end  -->  
        <!-- Share container  -->    
        <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
    </div>
    <!-- content holder end -->
</div>
<!-- wrapper end -->
<div class="left-decor"></div>
<div class="right-decor"></div>
{%endblock%}

