/*******************************************************************************
Custom CSS Styles
*******************************************************************************/
.logo-holder {  
    position: absolute;
    top: 25px;
    left: 50px;
    width: 100%;    
    height: 21px;
}
.slide-title h3 a, .slide-title h4 a {
    font-weight:700;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.66);
}
.slide-title .subtitle {
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.66);
}
span.subtitle em:after {
    content: '|';
    padding: 0 4px 0 8px;
}
span.subtitle em:last-child:after {
    content: none;
}
.port-subtitle span.subtitle {
    font-size: 12px;
    padding-top: 6px;
    position: relative;
    color: #333;
    display: inline-block;
    left: 0;
    width: auto;
}
.port-subtitle span.subtitle:after {
    content: '/';
    font-weight: 900;
    padding: 0 4px 0 8px;
}
.port-subtitle span.subtitle:last-child:after {
    content: none;
}
.fixed-title {
    width: 280px;
    margin-top: 140px;
}
nav li a.act-link:before {
    background:#ddd;
}
.custom-inner .separator {
    background:#333333;
}
.custom-inner p,
.custom-inner h2,
.custom-inner h3 {
    color:#333333;
}
.section-columns-text {
    background:none;
}
.section-columns {height:100%;}
.section-columns:before {height:0;}
li.mobile-dropdown-items a {
    padding: 11px 52px;
}
@media only screen and (max-width: 991px) {
    nav li a {
        font-size: 16px;
    }
    .nav-holder {
        height: 100vh;
    }
}
@media only screen and (max-width: 379px) {
    .logo-holder a img {
        width:65%;
        height: auto;
    }
    .logo-holder {
        top:28px;
        left:20px;
    }
}


#contact-form textarea {
    height: 100px;
    resize: none;
}
.flat-form {
    border-top: none;
}
ul.navigation-subMenu li a {
    text-align: left;
}
input#preferredKitten { display: none; }
section {background:#f5f5f5;}
section.contact-thankyou h3 {
    margin-top:15px;
}
section.flat-form {
    padding: 90px 0 0 0;
}
section.flat-form h3.formlabel{
    text-align: left;
}