{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}

{% block main %}
 <!--=============== wrapper ===============-->		
    <div id="wrapper">
        <!--=============== Content holder  ===============-->
        <div class="content-holder elem scale-bg2 transition3 slid-hol" >
            <!-- Fixed title  -->	
            <div class="fixed-title"><span>Home</span></div>
            <!-- Fixed title end -->


            <!--=============== Slider Content ===============--> 


            <!--=============== Content ===============-->  
            <div class="content full-height">
                <!-- full-height-wrap end  -->
                <div class="full-height-wrap">
                    <div class="swiper-container" id="horizontal-slider" data-mwc="1" data-mwa="0">
                        <div class="swiper-wrapper">
                        
                        <!--=============== Slider Content ===============--> 
                       
                            {% for entries in entry.featuredCollections %}
                                
                                <div class="swiper-slide">

                                    {% for image in entries.collectionFeaturedImage %}
                                        <div class="bg" style="background-image:url('{{ image.getUrl() }}')"></div>
                                        <div class="overlay"></div>
                                        <div class="zoomimage"><img src="{{ image.getUrl() }}" class="intense" alt=""><i class="fa fa-expand"></i></div>
                                    {% endfor %}

                                    <div class="slide-title-holder">
                                        <div class="slide-title">

                                            <span class="subtitle">
                                                {% for block in entries.mediumTypeRepeater.type('artMediumList') %}
                                                <em>{{ block.addMediumTitle }}</em>
                                                {% endfor %} 
                                            </span>
                                                                                                                                      
                                            <div class="separator-image"><img src="{{ craft.config.environmentVariables.baseAssetUrl }}/images/separator.png" alt=""></div>
                                             
                                            <h3 class="transition"><a href="{{ entries.getUrl() }}">{{ entries.title }} Collection</a></h3>
                                            <h4><a  href="{{ entries.getUrl() }}">View</a></h4>
                                          
                                        </div>
                                    </div>
                                </div>
                                 
                            {% endfor %}
                 
                            <!-- Slider Content end -->
                           
                        </div>
                    </div>
                    <!-- slider  pagination -->
                    <div class="pagination"></div>
                    <!-- pagination  end -->
                    <!-- slider navigation  -->
                    <div class="swiper-nav-holder hor hs">
                        <a class="swiper-nav arrow-left transition " href="#"><i class="fa fa-angle-left"></i></a>
                        <a class="swiper-nav  arrow-right transition" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- slider navigation  end -->
                </div>
                <!-- full-height-wrap end  --> 
            </div>
            <!-- Content end  --> 

            <!-- Slider Content end -->

            <!-- Share container  -->    
            <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
        </div>
        <!-- content holder end -->
    </div>
    <!-- wrapper end -->

    <div class="left-decor"></div>
    <div class="right-decor"></div>

{% endblock %}
